body {
	background-color: #e0e6e9;
}

h1, h2, h3, h4, h5 {
	text-align:center;
}

.form-container {
	margin:auto;
	margin-top: 15vh;
	width: 40%;
	background-color: #a3d2e9;
	padding: 1em;
	border-radius: 5px 5px 5px 5px;
}

.form-container .btn {
	margin:auto;
	display: table;
}

.mensaje {
	margin-top:5px;
	text-align:center;
	color: #ff5555;
	font-style: cursive;
}