
body {
	width : 100%;
	min-width: 1280px;
}

.welcome-user > span {
	position: relative;
    display: block;
    padding: 15px 10px 15px 10px;
    line-height: 20px;
    color: #228ddd;
}

#tabla-edificios tr:hover td:not([rowspan]) {
    background: #D3D3D3;
    cursor:pointer;
}

.atributos {
	width: 95%;
	padding: .9em;
	display:table;
	border: 1px solid black;
	margin-bottom: 2em;
}

.building:hover {
	cursor: pointer;
}

#checkboxes label {
	margin-right:1em;
}

.checkbox-form {
	margin-top:2em;
}

#canvas {
	width: 99%;
	height: 70vh;
}
#ifcTree {
	overflow: auto;
	max-height: 70vh; 
	height: 70vh; 
}

#extintorInfo span {
	width: 100%;
	color: green;
	
}

#extintorInfo label {
	width: 100%;	
}

#extintorInfo ul {
	list-style-type: none;	
}

#extintorInfo.modal-dialog {
	width: 80% !important;
	
	height: 80vh !important;
	max-height: 80vh !important;
}

#mant-date, #mant-detail {
	max-height: 30vh;
	overflow-y: auto;
}

#mant-detail {
	border-left: 1px solid black;
}
#mant-info {
	border-right: 1px solid black;
}

.list-selected {
	color: red;
	background-color: #63da5c;
}