<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8"></meta>
<title>Edificio</title>


<link href="bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link href="main.css" th:href="@{/css/main.css}" rel="stylesheet"
	media="screen" />
<link href="treeStyle.css" th:href="@{/css/treeStyle.css}" rel="stylesheet"
	media="screen" />
	
<script type="text/javascript" th:src="@{/js/threejs/three.min.js}"></script>
<script type="text/javascript" th:src="@{/js/threejs/OrbitControls.js}"></script>
<script type="text/javascript" th:src="@{/js/threejs/ColladaLoader.js}"></script>
<script type="text/javascript" th:src="@{/js/threejs/OBJLoader.js}"></script>
	
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jstree.min.js}"></script>
<script type="text/javascript" th:src="@{/js/edif/edificio.js}"></script>
</head>
<body>
<div th:with="vistaEdif=${true}">
	<nav th:replace="inicio/main :: navbar"></nav>
</div>

	<div class="row">
		<div class="col-md-4">
			<label>Dirección</label>
			<p
				th:text="${edificio.getDireccion().getCalle()} + ' Nº' +
			${edificio.getDireccion().getNumero()} + ', ' +
			${edificio.getDireccion().getLocalidad()} + ' ' +
			${edificio.getDireccion().getProvincia()} 
		"></p>
		</div>
		<div th:if="${extDefined}" sec:authorize="hasRole('ROLE_ADMIN')" class="col-md-8">
			<div class="row">
				<div class="form-group col-md-2">
					<label>X</label> <input id="cordenadaX"
						class="form-control" type="number"  value="0"/>
				</div>
				<div class="form-group col-md-2">
					<label>Y</label> <input id="cordenadaY"
						class="form-control" type="number"  value="0"/>
				</div>
				<div class="form-group col-md-2">
					<label>Z</label> <input id="cordenadaZ"
						class="form-control" type="number" value="0"/>
				</div>
				<button id="showPoint" type="button" class="btn btn-default" style="margin-top:1.7em;">Ver/Ocultar Punto</button>
				<button id="updatePoint" type="button" class="btn btn-info" style="margin-top:1.7em;">Actualizar</button>
				<button id="uploadExt" type="button" class="btn btn-primary" style="margin-top:1.7em;">Nuevo Extintor</button>
				<!-- <button id="geometryPoint" type="button" class="btn btn-danger" style="margin-top:1.7em;">Re-generar Geometría</button>  -->
			</div>
		</div>
	</div>

	<div th:if="${extDefined}">
		<div class="row">
			<div class="col-md-4">
				<div id="ifcTree">
					<div th:remove="tag" th:utext="${arbol}"></div>
				</div>
			</div>
			<div class="col-md-8">
				<div id="canvas"></div>
			</div>
		</div>

		<!-- Ventana modal para ver info de extintores -->
	<div class="modal fade" id="extintorInfo" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" th:attr="data-edif=${edificio.getId()}">
		<div class="modal-dialog" role="document" style="width: 80%; height: 80vh;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Extintor</h4>
				</div>
				<div class="modal-body">
						<div class="row">
							<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Placa
								Timbre</h4>
						</div>
						<div class="row">

							<div class="form-group col-xs-2 col-md-2">
								<label for="numRegistro">Número de Registro</label> 
								<span id="l_numRegistro"></span>
							</div>

							<div class="form-group col-xs-2 col-md-3">
								<label for="fabricante">Fabricante</label> 
								<span id="l_fabricante"></span>
							</div>
							<div class="form-group col-xs-2 col-md-2">
								<label for="fechaFabricacion">Fecha Fabricación</label> 
								<span id="l_fechaFabricacion"></span>
							</div>
							<div class="form-group col-xs-2 col-md-2">
								<label for="cargaKg">Carga (Kg/Litros)</label> 
								<span id="l_cargaKg"></span>
							</div>

							<div class="form-group col-xs-2 col-md-2">
								<label for="presionRetimbrado">Presión Timbrado</label> 
								<span id="l_presionRetimbrado"></span>
							</div>
						</div>
						<div class="row">
							<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Agente
								Extintor</h4>
						</div>
						<div class="row">
							<div class="form-group col-xs-2 col-md-4">
								<label for="sustancias">Sustancia</label> 
								<span id="l_sustancias"></span>
								
							</div>
							<div id="_eficacias_A" class="form-group col-md-4"
								style="display: none">
								<label for="eficaciasExtintors">Eficacia A</label> 
								<span id="l_eficacia_A"></span>
							</div>
							<div id="_eficacias_B" class="form-group col-md-4"
								style="display: none">
								<label for="eficaciasExtintors">Eficacia B</label> 
								<span id="l_eficacia_B"></span>
							</div>
							<div id="_eficacias_F" class="form-group col-md-4"
								style="display: none">
								<label for="eficaciasExtintors">Eficacia F</label> 
								<span id="l_eficacia_F"></span>
							</div>
						</div>
						<div class="row">
							<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Mantenimientos</h4>
						</div>
						<div id="mant-info" class="row">
							<div id="mant-date" class="col-md-2"></div>
							<div id="mant-detail" class="col-md-10">
							<div class="form-group col-md-4">
								<label>Usuario</label> 
								<span id="l_mant_user"></span>
							</div>
							<div class="form-group col-md-4">
								<label>Fecha</label> 
								<span id="l_mant_fecha"></span>
							</div>
							<div class="form-group col-md-4">
								<label>Empresa</label> 
								<span id="l_mant_emp"></span>
							</div>
							<div class="form-group col-md-12">
								<label>Descripción</label> 
								<span id="l_mant_descrip"></span>
							</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cerrar</button>
							<button id="mantButton" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OPER')" type="button" class="btn btn-info">Nuevo Mantenimiento</button>
							<button id="editButton" sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-warning">Editar</button>
							<button id="deleteButton" sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-danger">Eliminar</button>
						</div>
				</div>
			</div>
		</div>
	</div>

	<div sec:authorize="hasRole('ROLE_ADMIN')" class="modal fade" id="extintorDelete" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document"
				style="width: 40%; height: 80vh;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Borrar Extintor</h4>
					</div>
					<div class="modal-body">
						<form id="form-borrar" th:action="@{/admin/borrar-extintor}"
						method="POST">
						<h3 style="text-align: center">¿Seguro que desea borrar el extintor?</h3>
						<h4 style="text-align: center">Se perderá toda la información relacionada</h4>
						<input type="hidden" name="idExt" value="" />
						<div class="modal-footer">
							<button id="send-delete" type="submit" class="btn btn-danger">Eliminar</button>
						</div>
						</form>
					</div>
			</div>
		</div>
	</div>
						

		<div class="modal fade" id="extintorMant" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document"
				style="width: 80%; height: 80vh;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Mantenimiento</h4>
					</div>
					<div class="modal-body">
						<form id="form-mantenimiento" th:action="@{/operario/guardar-mantenimiento}"
						method="POST">
						<input type="hidden" name="extintores" value="" />
						<div class="row">
							<div class="form-group col-md-3">
								<label >Empresa</label>
								<select id="mant-empresa" class="form-control" name="empresa">
								<option></option>
								<option value="1">MANTENIMIENTO S.L.</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label style="margin-top:2.1em;">Por el fabricante</label>
								<input id="mant-fabricante" class="checkbox-primary" type="checkbox" name="porFabricante" />
							</div>
							<div class="form-group col-md-3">
								<label >Fecha</label>
								<input class="form-control" type="date" name="fecha" />
							</div>
							<div class="form-group col-md-3">
								<label >Siguiente Mantenimiento</label>
								<input class="form-control" type="date" name="fechaSiguienteMant" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label >Descripción</label>
								<textarea class="form-control"  rows="5" name="descripcion" cols=""></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cancelar</button>
							<button id="send-form-mant" type="submit" class="btn btn-primary">Guardar</button>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Ventana modal para actualizar extintores -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Actualizar Extintor</h4>
					</div>
					<div class="modal-body">
						<form id="form-extintor" th:action="@{/operario/actualizar-extintor/}"
							method="POST">
							<!-- <input type="hidden" name="ifcGlobalId" value="" />  --> 
							<!-- <input type="hidden" name="edificio" th:value="${edificio.getId()}" /> -->
							<div class="row">
								<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Placa
									Timbre</h4>
							</div>
							<div class="row">

								<div class="form-group col-md-4">
									<label for="numRegistro">Número de Registro</label> <input
										type="number" class="form-control" id="numRegistro"
										name="numRegistro" required="true" />
								</div>

								<div class="form-group col-md-4">
									<label for="fabricante">Fabricante</label> <select
										class="form-control" id="fabricante" name="fabricante"
										required="true">
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="fechaFabricacion">Fecha Fabricación</label> <input
										type="date" class="form-control" id="fechaFabricacion"
										name="fechaFabricacion" required="true" />
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-4">
									<label for="cargaKg">Carga (Kg/Litros)</label> <input type="text"
										class="form-control" id="carga" name="carga" required="true" />
								</div>

								<div class="form-group col-xs-2 col-md-4">
									<label for="presionRetimbrado">Presión Timbrado (bar)</label> <input
										type="text" class="form-control" id="presionRetimbrado"
										name="presionRetimbrado" required="true" />
								</div>
							</div>

							<div class="row">
								<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Agente
									Extintor</h4>
							</div>
							<div class="row">
								<div class="form-group col-md-4">
									<label for="sustancias">Sustancia</label> <select
										class="form-control" id="sustancias" name="sustancias"
										required="true">
										<option selected="selected"></option>
									</select>
								</div>
								<div id="eficacias_A" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia A</label> <select
										class="form-control" id="eficaciasExtintorsA"
										name="eficacias[]" disabled="true">
									</select>
								</div>
								<div id="eficacias_B" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia B</label> <select
										class="form-control" id="eficaciasExtintorsB"
										name="eficacias[]" disabled="true">
									</select>
								</div>
								<div id="eficacias_F" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia F</label> <select
										class="form-control" id="eficaciasExtintorsF"
										name="eficacias[]" disabled="true">
									</select>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cerrar</button>
								<button id="send-form" type="submit" class="btn btn-primary">Actualizar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Ventana modal para añadir extintores -->
		<div class="modal fade" id="addExt" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Nuevo Extintor</h4>
					</div>
					<div class="modal-body">
						<form id="form-add-extintor" th:action="${#mvc.url('AC#postExtintor').build()}"
							method="POST">
							<input type="hidden" name="cordX" value="" />
							<input type="hidden" name="cordY" value="" /> 
							<input type="hidden" name="cordZ" value="" /> 
							<input type="hidden" name="referenceGuid" value="" /> 
							<input type="hidden" name="edificio" th:value="${edificio.getId()}" />
							<div class="row">
								<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Placa
									Timbre</h4>
							</div>
							<div class="row">

								<div class="form-group col-md-4">
									<label for="numRegistro">Número de Registro</label> <input
										type="number" class="form-control" id="numRegistroAdd"
										name="numRegistro" required="true" />
								</div>

								<div class="form-group col-md-4">
									<label for="fabricanteAdd">Fabricante</label> <select
										class="form-control" id="fabricanteAdd" name="fabricante"
										required="true">
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="fechaFabricacion">Fecha Fabricación</label> <input
										type="date" class="form-control" id="fechaFabricacionAdd"
										name="fechaFabricacion" required="true" />
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-4">
									<label for="cargaKg">Carga (Kg/Litros)</label> <input type="text"
										class="form-control" id="cargaAdd" name="carga" required="true" />
								</div>

								<div class="form-group col-md-4">
									<label for="presionRetimbrado">Presión Timbrado (bar)</label> <input
										type="text" class="form-control" id="presionRetimbradoAdd"
										name="presionRetimbrado" required="true" />
								</div>
							</div>

							<div class="row">
								<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Agente
									Extintor</h4>
							</div>
							<div class="row">
								<div class="form-group col-md-4">
									<label for="sustancias">Sustancia</label> <select
										class="form-control" id="sustanciasAdd" name="sustancias"
										required="true">
										<option selected="selected"></option>
									</select>
								</div>
								<div id="eficacias_A_Add" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia A</label> <select
										class="form-control" id="eficaciasExtintorsAAdd"
										name="eficacias[]" disabled="true">
									</select>
								</div>
								<div id="eficacias_B_Add" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia B</label> <select
										class="form-control" id="eficaciasExtintorsBAdd"
										name="eficacias[]" disabled="true">
									</select>
								</div>
								<div id="eficacias_F_Add" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia F</label> <select
										class="form-control" id="eficaciasExtintorsFAdd"
										name="eficacias[]" disabled="true">
									</select>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cerrar</button>
								<button id="send-form" type="submit" class="btn btn-primary">Guardar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:unless="${extDefined}">
		<p>
			Quedan <span th:text="${extintores.size()}">666</span> extintores por
			definir.
		</p>
		
		<div class="row">
			<div class="col-md-4">
				<div id="ifcTree">
					<div th:remove="tag" th:utext="${arbol}"></div>
				</div>
			</div>
			<div class="col-md-8">
				<div id="canvas"></div>
			</div>
		</div>
		
		<script th:inline="javascript">
			var extintores = /*[[${extintores}]]*/[];
			console.log(extintores);
			extintores.forEach(function(guid) {
				$("[data-guid=\""+guid+"\"] span").css("color", "red");
			});
		</script>

		<!-- Ventana modal para añadir extintores -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Nuevo Extintor</h4>
					</div>
					<div class="modal-body">
						<form id="form-extintor" th:action="@{/operario/guardar-extintor}"
							method="POST">
							<input type="hidden" name="ifcGlobalId" value="" /> <input
								type="hidden" name="edificio" th:value="${edificio.getId()}" />
							<div class="row">
								<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Placa
									Timbre</h4>
							</div>
							<div class="row">

								<div class="form-group col-md-4">
									<label for="numRegistro">Número de Registro</label> <input
										type="number" class="form-control" id="numRegistro"
										name="numRegistro" required="true" />
								</div>

								<div class="form-group col-md-4">
									<label for="fabricante">Fabricante</label> <select
										class="form-control" id="fabricante" name="fabricante"
										required="true">
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="fechaFabricacion">Fecha Fabricación</label> <input
										type="date" class="form-control" id="fechaFabricacion"
										name="fechaFabricacion" required="true" />
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-4">
									<label for="cargaKg">Carga (Kg/Litros)</label> <input type="text"
										class="form-control" id="carga" name="carga" required="true" />
								</div>

								<div class="form-group col-md-4">
									<label for="presionRetimbrado">Presión Timbrado (bar)</label> <input
										type="text" class="form-control" id="presionRetimbrado"
										name="presionRetimbrado" required="true" />
								</div>
							</div>

							<div class="row">
								<h4 class="col-md-12" style="border-bottom: 1px solid grey;">Agente
									Extintor</h4>
							</div>
							<div class="row">
								<div class="form-group col-md-4">
									<label for="sustancias">Sustancia</label> <select
										class="form-control" id="sustancias" name="sustancias"
										required="true">
										<option selected="selected"></option>
									</select>
								</div>
								<div id="eficacias_A" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia A</label> <select
										class="form-control" id="eficaciasExtintorsA"
										name="eficacias[]" disabled="true">
									</select>
								</div>
								<div id="eficacias_B" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia B</label> <select
										class="form-control" id="eficaciasExtintorsB"
										name="eficacias[]" disabled="true">
									</select>
								</div>
								<div id="eficacias_F" class="form-group col-md-4"
									style="display: none">
									<label for="eficaciasExtintors">Eficacia F</label> <select
										class="form-control" id="eficaciasExtintorsF"
										name="eficacias[]" disabled="true">
									</select>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cerrar</button>
								<button id="send-form" type="submit" class="btn btn-primary">Guardar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	

	<div id="info" th:attr="data-wavefront=${wavefront}"></div>
	<script type="text/javascript" th:src="@{/js/edif/edifThree.js}"></script>
</body>
</html>