<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8"></meta>
<title>Edificios</title>
<th:block th:fragment="resources">
 	<link href="bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen" />
	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</th:block>


</head>
<body>
	<nav class="navbar navbar-default" th:fragment="navbar">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">GEME</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">Inicio</a></li>
					<li><a sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="${#mvc.url('AC#newBuildingGet').build()}">Nuevo
							Edificio</a></li>
					<li><a sec:authorize="hasRole('ROLE_OPER')" href="#">Zona
							Operario</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Usuarios<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="#"
								th:href="${#mvc.url('AC#listUsers').build()}">Lista Usuarios</a></li>
							<li><a href="#"
								th:href="${#mvc.url('AC#newUserGet').build()}">Nuevo Usuario</a></li>
						</ul>

					</li>
					<li th:if="${vistaEdif != null}" style="background-color: #ce1414;">
						<a id="menuNewGeom" sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="${#mvc.url('AC#newGeometryGet').build()+'/'+edificio.getId()}" style=" color: white;">Nueva Geometría</a>
					</li>
					<!--  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
				</ul>
				<!--  <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
				<ul sec:authorize="hasRole('ROLE_ANONYMOUS')"
					class="nav navbar-nav navbar-right">
					<li><a href="/login" th:href="@{/login}">Login</a></li>
				</ul>
				<ul sec:authorize="!hasRole('ROLE_ANONYMOUS')"
					class="nav navbar-nav navbar-right">
					<li class="welcome-user"><span>Hola <span
							sec:authentication="name">Bob</span></span></li>
					<li><a href="/login?logout" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<table id="tabla-edificios" class="table table-striped table-hover"
		th:attr="data-path=@{/edificio}">
		<thead>
			<tr>
				<th>Archivo</th>
				<th>Descripción</th>
				<th>Validado</th>
			</tr>
		</thead>
		<tbody>
			<tr class="building"
				th:class="${edificio.getValidado()} ? 'building success' : 'building danger'"
				th:each="edificio : ${edificios}"
				th:attr="data-path=${#mvc.url('MC#showBuilding').arg(0, edificio.getId()).build()}">
				<td th:text="${edificio.getArchivo()}"></td>
				<td th:text="${edificio.getDescripcion()}"></td>
				<td th:text="${edificio.getValidado()} ? 'Si' : 'No'"></td>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript" th:src="@{js/jstree.min.js}"></script>
	<script type="text/javascript" th:src="@{js/main.js}"></script>
</body>
</html>