<html>
<head>
<meta charset="utf-8"></meta>
<meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Nuevo Usuario</title>

<th:block th:include="inicio/main :: resources">
</th:block>
<script type="text/javascript" th:src="@{/js/admin/list_usuarios.js}"></script>
</head>
<body>
	<nav th:replace="inicio/main :: navbar"></nav>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Nombre Usuario</th>
					<th>Nombre Real</th>
					<th>Roles</th>
					<th>Activo</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}" 
				th:attr="data-path=${#mvc.url('AC#editUserGet').arg(0, usuario.getId()).build()}, data-idUser=${usuario.getId()}">
					<td th:text="${usuario.getNombreUsuario()}">username</td>
					<td th:text="${usuario.getNombreReal()}">name</td>
					<td><span th:each="rol : ${usuario.getRoleses()}" style="width:100%;" th:text="${rol.getRol()} + ' ' "></span></td>
					<td>
						<span th:if="${usuario.isActivo()}" style="color: green;" class="glyphicon glyphicon-ok"></span>
						<span th:unless="${usuario.isActivo()}" style="color: red;" class="glyphicon glyphicon-remove"></span>
					</td>
					<td>
						<button  class="btn btnEdit btn-info">Editar</button>
						<button  class="btn btnDelete btn-danger">Borrar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>