<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>Nuevo Usuario</title>

<link href="bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link href="main.css" th:href="@{/css/main.css}" rel="stylesheet"
	media="screen" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/nuevo_usuario.js}"></script>
</head>
<body>
	<nav th:replace="inicio/main :: navbar"></nav>
	<div class="container">
		<form method="POST" action="/admin/nuevo-usuario"
			th:action="@{/admin/nuevo-usuario}" th:object="${usuario}">
			<div class="row">
				<div class="form-group col-md-3">
					<label for="nombre_usuario">Nombre de Usuario</label> <input
						class="form-control" type="text" name="nombre_usuario"
						required="true" th:field="*{nombreUsuario}"></input>
				</div>
				<div class="form-group col-md-3">
					<label for="password">Contraseña</label> <input
						class="form-control" type="text" name="password"
						th:field="*{password}"></input>
				</div>
				<div class="form-group col-md-3">
					<label for="nombre">Nombre</label> <input class="form-control"
						type="text" name="nombre" th:field="*{nombreReal}"></input>
				</div>
				<div class="checkbox-form form-group col-md-3">
					<input type="checkbox"	name="activo" th:field="*{activo}"></input>
					<label for="activo">Activo</label> 
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="activo">Roles</label>
					<div id="checkboxes"></div>
				</div>
			</div>

			<input type="hidden" name="roles_attr[]" th:each="rol : ${roles_}"  th:class="${rol.key}" 
			th:attr="data-rolename=${rol.value}" th:value="${rol.key}" disabled="true"></input>
			<input type="submit" value="Guardar"></input>
		</form>
	</div>

</body>
</html>