<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>Generar Gometria</title>
<th:block th:include="inicio/main :: resources">
</th:block>
<script type="text/javascript" th:src="@{/js/admin/nueva_geometria.js}"></script>
</head>
<body>
	<nav th:replace="inicio/main :: navbar"></nav>
	<h1 style="text-align: center;">Generación de la Geometría de: <span th:text="${descripcion}">edificio</span></h1>
	<div style="width: 60%; margin: auto; padding: 3%; background-color:#dad6d6">
		<h4>Indique los elementos irrelevantes o del que no desee generar geometría</h4>
		<h6>Se recomienda dejar al menos las clases que contienen información sobre parades y suelos.</h6>
		<h6>IfcOpeningElement e IfcSpace se eliminarán (de la geometría) automáticamente</h6>

		<form method="POST" action="/admin/generar-geometria"
			th:action="@{/admin/generar-geometria/{idEdif}(idEdif = ${idEdif})}">
			<div th:each="clase : ${clases}">
				<input type="checkbox" th:attr="data-exclude=${clase}"></input> <label
					th:text="${clase}"> CLASE IFC</label>

			</div>
			<input type="hidden" name="exclude_arr[]" value=""/>
			<input th:id="${clase}" type="hidden" name="exclude_arr[]" th:each="clase : ${clases}" th:value="${clase}" disabled="true"></input>
			
			<input type="submit" class="btn btn-default" value="Guardar"></input>
		</form>
	</div>
</body>
</html>