<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8"></meta>
<title>Nuevo Edificio</title>

<th:block th:include="inicio/main :: resources">
</th:block>
<!--  
<link href="main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
<link href="main.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
-->
</head>
<body>
	<nav th:replace="inicio/main :: navbar"></nav>
	<div style="width: 90%; margin:auto;">
	<p>NOTA: Recuerda que para validar un edificio es necesario tener disponible
	toda la información acerca de los extintores existentes</p>
	
	<form method="POST" enctype="multipart/form-data"
		action="/nuevo-edificio" th:action="${#mvc.url('AC#newBuildingPost').build()}" th:object="${direccion}">
		<label>Archivo a subir:</label><input type="file" name="file" required="true"></input>
			<div style="margin-bottom: 5px;"></div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="descripcion">Descripción</label>
					<input type="textarea"  class="form-control" name="descripcion" required="true"></input>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<label for="calle">Calle</label>
					<input type="text" class="form-control"  name="calle" th:field="*{calle}"></input>
				</div>
				<div class="form-group col-md-3">
					<label for="numero">Número</label>
					<input type="text" class="form-control"  name="numero" th:field="*{numero}"></input>
				</div>
				<div class="form-group col-md-3">
					<label for="localidad">Localidad</label>
					<input type="text" class="form-control"  name="localidad" th:field="*{localidad}"></input>
				</div>
				<div class="form-group col-md-3">
					<label for="provincia">Provincia</label>
					<input type="text" class="form-control"  name="provincia" th:field="*{provincia}"></input>
				</div>
			</div>
			<input type="submit" value="Guardar"></input>
	</form>
	</div>
</body>
</html>