<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8"></meta>
<title>Error</title>
<th:block th:include="inicio/main :: resources">
</th:block>
</head>
<body>
	<nav th:replace="inicio/main :: navbar"></nav>
	<div style="width: 60%; margin: auto">
		<h1>Ha ocurrido un error</h1>
		<div th:switch="${error}">
			<p
				th:case="${T(org.project.pfc.controllers.MainController).ERROR_UPLOAD_FILE}">Error
				al subir el archivo</p>
			<p
				th:case="${T(org.project.pfc.controllers.MainController).ERROR_TYPE_FILE}">Error
				en el tipo de archivo</p>
			<p
				th:case="${T(org.project.pfc.controllers.MainController).ERROR_FILE_NOTFOUND}">Archivo
				no encontrado</p>
		</div>

		<div th:text="${mensaje}"></div>
	</div>
</body>
</html>