<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8"></meta>
<title>Exito</title>
<link href="main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
<link href="main.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<nav th:replace="inicio/main :: navbar"></nav>
	<h1 style="text-align: center;">La operación ha sido realizada con éxito</h1>
</body>
</html>