<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login </title>
        
        <link href="bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
		<link href="bootstrap.min.css" th:href="@{/css/login.css}"
	rel="stylesheet" media="screen" />
    </head>
<body class="login">
	<div>
		<h1>GEME</h1>
		<h3>Gestión de Mantenimiento de Extintores</h3>
	</div>
	<div class="form-container">
		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label> Usuario : </label>
				<input class="form-control" type="text" name="username" />
				
			</div>
			<div class="form-group">
				<label> Contraseña: </label> <input class="form-control"
					type="password" name="password" />
				
			</div>
			<div class="form-group">
				<input class="btn btn-default" type="submit" value="Login" />
			</div>
		</form>
		<div class="mensaje error" th:if="${param.error}">Nombre de usuario incorrecto</div>
		<div class="mensaje info" th:if="${param.logout}">Has sido deslogueado</div>
	</div>
</body>
</html>
